* {
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  background: url(img/sky.jpeg);
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.card-profile {
  width: 420px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px #00000070;
}
.top-section {
  padding: 60px 40px;
}
.envelope,
.bell {
  position: absolute;
  top: 40px;
}
.envelope {
  right: 40px;
}
.bell {
  left: 40px;
}
.card-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid black;
}

.card-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.card-pic::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid black;
  border-radius: 50%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: wave 1.5s infinite linear;
}

@keyframes wave {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

.bottom-section {
  background: black;
  padding: 60px 40px;
  position: relative;
}
.bottom-icons {
  position: absolute;
  top: -20px;
  width: 100%;
  top: -30px;
  left: 0;
  z-index: 1;
}
.bottom-icons i {
  width: 60px;
  height: 60px;
  background: lightpink;
  border-radius: 50%;
  font-size: 1.6rem;
  margin: 0 10px;
  line-height: 60px !important;
}
.bottom-info {
  display: flex;
}
.bottom-info h3:nth-child(2) {
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 0 20px;
}
