* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  position: relative;
  background: linear-gradient(
    120deg,
    #fff,
    #fff 62%,
    #3b5998 62%,
    #3b5998 62%,
    #3b5998 100%
  );
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 0 100px;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: black;
}
header ul {
  display: flex;
}
header li {
  margin: 0 10px;
}
header a {
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s linear;
}
header a:hover {
  color: #2d88ff;
}
.app {
  position: absolute;
  right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #3b5998;
  border: #3b5998;
  border-radius: 5px;
  width: 170px;
  height: 50px;
  text-decoration: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0, 1);
  font-weight: bold;
}
.app:hover {
  background-color: #3b5998;
  color: #fff;
  border: 1px solid #fff;
}
.context-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  max-width: 800px;
}
.text h2 {
  font-size: 4rem;
  color: #3b5998;
}
.text p {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.8rem;
}
.text h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.8rem;
  color: #333;
  text-transform: uppercase;
}
.btn {
  margin-left: 10px;
  background: #3b5998;
  color: #fff;
  font-size: 1.1rem;
  padding: 10px 15px;
  margin: 5px 20px 5px 0;
  border-radius: 5px;
  transition: all 0.3s linear;
}
.btn:hover {
  background: #fff;
  color: #3b5998;
  border: 1px solid #3b5998;
}
.btn i {
  margin-right: 4px;
}
.img-box img {
  margin-left: 50px;
  margin-right: 50px;
  max-width: 300px;
  display: none;
}
.img-box img.active {
  display: block;
}
.dots {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 70px;
  display: flex;
  flex-direction: column;
}
.dot {
  position: relative;
  width: 10px;
  height: 30px;
  background: rgba(255, 255, 255, 0.25);
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}
.dot.active {
  background: #fff;
}
.sci {
  position: absolute;
  bottom: 30px;
  display: flex;
}
.sci li {
  list-style: none;
  font-size: 1.8rem;
}
